<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css" >
  </head>
  <body>
  <div class="container">
    <main role="main" class="container">

      <div class="starter-template">
        <h1>MINT- Metrics Intelligence Tool</h1>
        <p class="lead">
          MINT is a software solution designed to correlate metrics from different software development lifecyle
          in order to provide valuable recommendations to different actors impacting the software development process.
          <br>
          MINT considers the different measurements collected in the MEASURE platform as events occurring at runtime. The correlation
          is designed as extended finite state machines (EFSMs) allowing to perform Complex Event Processing (CEP) in order to
          determine the possible actions that can be taken to improve the diverse stages of the software life cycle and thus the global
          software quality and cost.
        </p>
      </div>

    </main>
  </div> <!-- /container -->
  </body>
<!--  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>-->
</html>
